@font-face {
  src: url(../fonts/balqis.woff2) format("woff2"), url(../fonts/balqis.woff) format("woff");
  font-family: 'balqis';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(../fonts/RobotoCondensed-Light.woff2) format("woff2"), url(../fonts/RobotoCondensed-Light.woff) format("woff");
  font-family: 'RobotoCondensed-Light';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(../fonts/RobotoCondensed-LightItalic.woff2) format("woff2"), url(../fonts/RobotoCondensed-LightItalic.woff) format("woff");
  font-family: 'RobotoCondensed-LightItalic';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url(../fonts/RobotoCondensed-Regular.woff2) format("woff2"), url(../fonts/RobotoCondensed-Regular.woff) format("woff");
  font-family: 'RobotoCondensed-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --gold: #E2AB3F;
}

body {
  font-family: 'RobotoCondensed-Regular';
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin: 100px auto;
  max-width: 1920px;
}

.title {
  font-family: Balqis;
  font-weight: 300;
  font-size: 96px;
  line-height: 128px;
  color: var(--gold);
}

.title span {
  display: block;
  margin-left: 240px;
  margin-top: -24px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: 'RobotoCondensed-LightItalic';
  font-style: italic;
  font-weight: 300;
}

.header {
  min-height: 100vh;
  background-image: url(/images/header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.header__title {
  font-family: 'balqis';
  font-weight: normal;
  text-align: center;
  padding-top: 152px;
  font-size: 250px;
  line-height: 334px;
}

.header__title span {
  display: block;
  text-align: right;
  font-family: 'RobotoCondensed-LightItalic';
  font-weight: normal;
  font-size: 56px;
  line-height: 66px;
  margin-top: -66px;
  margin-right: 85px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
  font-size: 24px;
  line-height: 28px;
}

.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__menu-item + .header-top__menu-item {
  margin-left: 52px;
}

.header-top__menu-link {
  color: #000;
}

.header-top__menu-link:hover {
  text-decoration: underline;
}

.header-top__phone {
  color: #000;
  padding-left: 40px;
  position: relative;
}

.header-top__phone:before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(/images/header-phone.svg);
  width: 30px;
  height: 30px;
}

.fairy-tail__title {
  padding-bottom: 100px;
}

.fairy-tail__title span {
  display: block;
  text-align: left;
  margin-top: -30px;
  margin-left: 180px;
  font-family: 'RobotoCondensed-LightItalic';
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.fairy-tail__slider {
  width: 50%;
}

.slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 5;
  cursor: pointer;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.fairy-tail__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fairy-tail__container {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px 0 55px;
}

.fairy-tail__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fairy-tail__list {
  list-style: none;
}

.fairy-tail__content-title {
  font-weight: bold;
}

.fairy-tail__text {
  padding: 10px 0;
}

.our-trip__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0px auto;
}

.our-trip__slider {
  width: 50%;
}

.our-trip__title span {
  display: block;
  margin-left: 240px;
  margin-top: -24px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: 'RobotoCondensed-LightItalic';
  font-style: italic;
  font-weight: 300;
}

.our-trip__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 360px;
}

.our-trip__list {
  list-style-type: none;
}

.our-trip__item {
  margin: 5px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.our-trip__list li:first-child {
  margin-bottom: 20px;
  font-weight: bold;
}

.our-trip__link {
  padding: 11px 53px;
  border: 1px solid #E2AB3F;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: inherit;
}

.hotel__title span {
  margin-left: 120px;
  margin-bottom: 130px;
}

.hotel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel__content {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel__text {
  margin-bottom: 20px;
}

.hotel__gallery {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel__gallery a {
  margin-top: 50px;
}
/*# sourceMappingURL=styles.css.map */