.header {
    min-height: 100vh;
    background-image: url(/images/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    &__title {
        font-family: 'balqis';
        font-weight: normal;
        text-align: center;
        padding-top: 152px;
        font-size: 250px;
        line-height: 334px;

        @media (max-width: 1200px) {
            font-size: 200px;
            line-height: 280px;
        }

        @media (max-width: 1000px) {
            font-size: 150px;
            line-height: 220px;
        }

        @media (max-width: 820px) {
            font-size: 120px;
            line-height: 200px; 
        }

        @media (max-width: 700px) {
            font-size: 90px;
            line-height: 170px;
            padding-top: 90px;
        }

        @media (max-width: 500px) {
            font-size: 70px;
            line-height: 150px;
        }

        @media (max-width: 500px) {
            padding-top: 60px;
        }

    }

    &__title span {
        display: block;
        text-align: right;
        font-family: 'RobotoCondensed-LightItalic';
        font-weight: normal;
        font-size: 56px;
        line-height: 66px;
        margin-top: -66px;
        margin-right: 85px;

        @media (max-width: 1200px) {
            font-size: 40px;
            line-height: 50px;
        }

        @media (max-width: 1000px) {
            font-size: 30px;
            line-height: 50px;
        }

        @media (max-width: 700px) {
            margin-right: 55px;
            font-size: 20px;
            line-height: 46px;
        }

        @media (max-width: 525px) {
            margin-right: 35px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
            line-height: 50px;
        }

        @media (max-width: 400px) {
            margin-right: 20px;
        }

        @media (max-width: 350px) {
            margin-right: 5px;
        }
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    
    @media (max-width: 1000px) {
        font-size: 20px;
        line-height: 25px;
    }

    @media (max-width: 700px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: 500px) {
        font-size: 14px;
    }

    @media (max-width: 500px) {
        font-size: 14px;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__menu {
        display: flex;
    }

    &__menu-item + .header-top__menu-item {
        margin-left: 52px;    
    }

    &__menu-link {
        color: #000;    
    }

    &__menu-link:hover {
        text-decoration: underline;   
    }

    &__phone {
        color: #000;
        padding-left: 40px;
        position: relative;

        @media (max-width: 700px) {
            padding-left: 30px;
        }

        @media (max-width: 500px) {
            margin: 0px auto;
        }

        @media (max-width: 419px) {
            margin-top: 15px;
        }
        
        &:before {
            content: "";
            position: absolute;
            left: 0;
            background-image: url(/images/header-phone.svg);
            width: 30px;
            height: 30px;

            @media (max-width: 700px) {
                width: 20px;
                height: 20px;
                background-size: cover;
            }
        }
    }
}