.header {
    min-height: 100vh;
    background-image: url(/images/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    &__title {
        font-family: 'balqis';
        font-weight: normal;
        text-align: center;
        padding-top: 152px;
        font-size: 250px;
        line-height: 334px;
    }

    &__title span {
        display: block;
        text-align: right;
        font-family: 'RobotoCondensed-LightItalic';
        font-weight: normal;
        font-size: 56px;
        line-height: 66px;
        margin-top: -66px;
        margin-right: 85px;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;  

    &__menu {
        display: flex;
    }

    &__menu-item + .header-top__menu-item {
        margin-left: 52px;    
    }

    &__menu-link {
        color: #000;    
    }

    &__menu-link:hover {
        text-decoration: underline;   
    }

    &__phone {
        color: #000;
        padding-left: 40px;
        position: relative;
        
        &:before {
            content: "";
            position: absolute;
            left: 0;
            background-image: url(/images/header-phone.svg);
            width: 30px;
            height: 30px;
        }
    }
}